APP_NAME='Docker Base For PHP'
APP_CODE_PATH_HOST=Your_Local_Folder

DB_CONNECTION=mysql
DB_HOST=database
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=user
DB_PASSWORD=root
DB_ROOT_PASSWORD=123@123a

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# database postgres
DC_DB_DATABASE=laravel
DC_DB_USERNAME=sail
DC_DB_PASSWORD=secret
DC_DB_HOST=pgsql

# Storage
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=123@123a
AWS_DEFAULT_REGION=us-east-1
AWS_URL=
AWS_ENDPOINT=http://minio:9000
AWS_BUCKET=minio
AWS_USE_PATH_STYLE_ENDPOINT=true
CLOUDFRONT_URL=